.carousel-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: grab;
}

.nextButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nextButton button {
    margin: 0 8px;
    background:none;
    color: white;
    border: none;
    cursor: pointer;
    scale: 1.3;
    transition: transform 0.3s ease-in-out;
}

.nextButton button:hover {
    transform: scale(1.5);
}

.nextButton button:nth-child(2) {
    margin-right: 30px; /* Adjust the margin as needed */
  }
  
  .nextButton button:nth-child(3) {
    margin-left: 20px; /* Adjust the margin as needed */
  }
