.carousel-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: grab;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-container button {
    margin: 0 15px;
    background: rgba(0, 0, 0, 0.2);;
    color: white;
    border: none;
    cursor: pointer;
    scale: 1.4;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add box shadow */
}

.button-container button:hover {
    transform: scale(1.5);
}

.button-container button:nth-child(2) {
    margin-right: 30px; /* Adjust the margin as needed */
  }
  
  .button-container button:nth-child(3) {
    margin-left: 20px; /* Adjust the margin as needed */
  }

  .no-recipes {
    font-size: 3em;
    color: rgb(98, 78, 51);
    text-align: center;
    font-family: 'HyliaSerif';
    background-color: tan;
    border: 3px solid darkgoldenrod;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
  }