.recipe-card{
    background: radial-gradient(circle at center top, #dcb96a, #aea174);
    border-radius: 30px;
    width: 300px;
    height: 425px;
    border: 2px solid #dcb96a; /* Outer border */
    position: relative;
    box-shadow: inset 0 0 10px #8c6a3e; /* Inner shadow */
    padding: 20px; /* Space inside the card */
    box-sizing: border-box;
    text-align: center;
    min-width: 300px;
    
}
.recipe-card:before {
    content: '';
    position: absolute;
    top: 5px; left: 5px; right: 5px; bottom: 5px; /* Adjust to change the inner border position */
    border: 1px solid #766a22; /* Inner border with a golden tone */
    pointer-events: none;
    border-radius: 30px;
}

.recipe-card img {
    -webkit-user-drag: none;
}

.recipe-id {  
    color: #73652b;
    font-family: 'HyliaSerif';
}
  
.recipe-title {
    margin: 0;
    color: #4b4002;
    text-align: center;
    font-family: 'HyliaSerif';
    letter-spacing: 1px;
    font-weight:200;
}

.recipe-details {
    color: #6e612b;
    font-style: italic;
    margin-top: 5px;
}

.image-container {
    width: 100%;
    color: black;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff5733; /* Set the background color you want */
    opacity: 0.7; /* Adjust opacity as needed */
}
.recipe-image {
    margin-top: 0;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.ingredients-title {
    padding: 0;
    margin: 0;
    text-align: center;
    color:#6e612b;
}