.bg1{
    background-image: url(./images/zelda-horse.gif);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    overflow: hidden;
}

.title3 {
    text-align: center;
    background: linear-gradient(to bottom, #FFA500, #FFFFFF);
	-webkit-background-clip: text;
	text-underline-offset: 6px;
	-webkit-text-fill-color: transparent;
    font-size: 3em;
    font-family: 'HyliaSerif';
    letter-spacing: 2px;
    font-weight: 200;
    margin: 10px;
    text-shadow: 5px 5px 12px rgb(255, 255, 255, 0.25);
	text-decoration: underline wavy rgb(255, 255, 255, 0.8);
	padding-bottom: 15px;
}

.sort-heading {
    text-align: center;
    color: white;
    margin:10px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 1);
    font-family: 'Comic Sans MS';
}



details {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	margin-top: 2rem;
	color: #6b7280;
	display: flex;
	flex-direction: column;

	popupdiv {
		background-color: #508372;
		box-shadow: 0 5px 10px rgba(#000, 0.15);
		padding: 1.25rem;
		border-radius: 8px;
		position: absolute;
		max-height: calc(100vh - 100px);
		width: 400px;
		max-width: calc(100vw - 2rem);
		bottom: calc(100% + 1rem);
		right: 0;
		overflow: auto;
		transform-origin: 100% 100%;
		color: #95a3b9;
		&::-webkit-scrollbar {
			width: 15px;
			background-color:#508372;
		}

		&::-webkit-scrollbar-thumb {
			width: 5px;
			border-radius: 99em;
			background-color: #00cc00;
			border: 5px solid #1e1e27;
		}
		& > * + * {
			margin-top: 0.75em;
		}

		p > code {
			font-size: 1rem;
			font-family: monospace;
		}

		pre {
			white-space: pre-line;
			background-color: #2c2d38;
			border: 1px solid #95a3b9;
			border-radius: 6px;
			font-family: monospace;
			padding: 0.75em;
			font-size: 0.875rem;
			color: #00cc00;
		}
	}

	&[open] div {
		animation: scale 0.25s ease;
	}
}

summary { /* the how it works box itself */
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	padding: 0.75em 3em .75em 1.25em;
	border-radius: 99em;
	color: #fff;
	background-color: #00cc00;
	box-shadow: 0 5px 15px rgba(#000, 0.1);
	list-style: none;
	text-align: center;
	cursor: pointer;
	transition: 0.15s ease;
	position: relative;
	&::-webkit-details-marker {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: mix(#000, #185adb, 20%); /* change box color on hover */
		color: #ffffff; /* change text color on hover */
	}
}

.no-recipes-title {
	font-size: 2em;
	letter-spacing: 2px;
	padding-top: 20px;
	margin: auto !important;
	font-family: 'HyliaSerif';
	color: rgb(97, 71, 37);
	max-width: 40%;
	background-color: tan;
	border: 3px solid darkgoldenrod;
	border-radius: 1em;
	text-align: center;
	padding: 1em;
	margin: 1em;
}


