.verify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    color: white;
    font-family: 'HyliaSerif';
    text-align: center;
    margin: 3em 1em;
    padding: 1em;
}

.verify-h2 {
    font-size: 2em;
    border-bottom: 3px solid white;
}

.verify-p {
    font-size: 1.5em;
}

.verify-success {
    background-color: rgba(2, 252, 2, 0.218);
}

.verify-unsuccess {
    background-color: rgba(255, 0, 0, 0.218);
}

a {
    text-decoration: none;
}

.verify-button {
    color: green;
    cursor: pointer;
    display: block;
    font-size:1.25em;
    line-height: 25px;
    margin: auto;
    height:50px;
    min-width: 120px; 
    position: relative;
    width: 50%; 
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(18, 248, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    border-radius: 10%;
    font-family: 'HyliaSerif';
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.verify-button:hover {
border: 1px solid;
box-shadow: inset 0 0 20px rgba(0, 173, 109, 0.5), 0 0 20px rgba(255, 255, 255, .2);
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;
text-shadow: 1px 1px 2px #427388; 
}

.verify-button-unsuccess {
    color: red;
}

.verify-button-unsuccess:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(173, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #884242;
}